<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create System</title>
    <link rel="stylesheet" href="/css/home/topnav.css">
    <link rel="stylesheet" href="/css/home/system/system.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/scripts/system/system.js"></script>
</head>

<body>
    <nav id="navbar" class="navbar">
        <div class="logo">
            <img alt="Logo" src="/images/logo.png">
        </div>
        <div class="menu-left">
            <a class="active_navbar " href="/">Trang chủ</a>
            <a class="active_navbar " href="/system">Hệ thống</a>
            <!-- Giới thiệu -->
            <div class="dropdown">
                <a href="#introduce" class="dropbtn">Giới thiệu
                    <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <!-- Tin tức -->
            <div class="dropdown">
                <a href="#news" class="dropbtn">Tin tức
                    <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <!-- Liên hệ -->
            <div class="dropdown">
                <a href="#contact" class="dropbtn">Liên hệ
                    <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <a style="color: #2b7dcf; font-size: 16px;
    font-weight: bold;" href="#search"><i class="fa fa-fw fa-search"></i>Tìm kiếm</a>
        </div>

        <!-- <input class="search_info" type="text" placeholder="Search.."> -->
        <div class="menu-right">
            <!-- Nếu đã đăng nhập, hiển thị link Đăng xuất -->
            <button style="width:auto;">
                <a style="color: #2b7dcf; font-size: 17px; font-weight: bold;" href="/logout">Đăng xuất</a>
            </button>
        </div>

        <div id="sidenav" class="sidenav">
            <button class="dropdown-btn"> Hệ thống
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a id="showListSystem" href="#listSystem"><i class="fa fa-caret-right"></i>Danh sách hệ thống</a>
                <a id="showCreateSystem" href="#createSystem"><i class="fa fa-caret-right"></i>Thêm hệ thống</a>
            </div>
            <button class="dropdown-btn"> Tag nghiệp vụ
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">

                <a id="showListTag" href="#"> <i class="fa fa-caret-right"></i>Xem các tag nghiệp vụ</a>
                <a id="showCreateTag" href="#"><i class="fa fa-caret-right"></i>Thêm tag nghiệp vụ</a>
            </div>
            <a href="#contact">Search</a>
        </div>

    </nav>
    <div id="mobileMenu" class="mobile-menu">
        <a href="#" class="closebtn" onclick="toggleMobileMenu()">&times;</a>
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">About</a>
        <a href="#" class="cta-button">Contact Us</a>
    </div>

    <!-- List system form -->
    <div id="listSystemContainer" class="container">
        <!-- <div class="container" style="display: none;"></div> -->
        <div class="list-header">
            <h1>Danh sách hệ thống</h1>
            <div class="search-refresh-group">
                <a href="/system" class="refresh-btn"><i class="fa fa-refresh"></i></a>
                <form class="example" action="/system/search" method="get" style="max-width:300px;">
                    <input type="text" placeholder="Tìm kiếm hệ thống..." name="name">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>



        <table>
            <tr>
                <th class="center-title-list-system">Tên</th>
                <th class="center-title-list-system">ID</th>
                <th class="center-title-list-system">Ảnh</th>
                <th class="center-title-list-system">Mô tả</th>
                <th class="center-title-list-system">Tag nghiệp vụ</th>
                <th class="center-title-list-system">Link truy cập</th>
                <th class="center-title-list-system">Tài liệu hướng dẫn</th>
                <th class="center-title-list-system">Đơn vị chủ quản</th>
                <th class="center-title-list-system">Đầu mối quản trị</th>
                <th class="center-title-list-system">Nút</th>
            </tr>
            <% systems.forEach(function(system) { %>
                <tr>
                    <td>
                        <%= system.name %>
                    </td>
                    <td>
                        <%= system.idSystem %>
                    </td>
                    <td>
                        <% if(system.image) { %>
                            <img src="<%= system.image %>" alt="Ảnh hệ thống" style="max-width: 100px;">
                            <% } else { %>
                                Không có ảnh
                                <% } %>
                    </td>
                    <td>
                        <%= system.description %>
                    </td>
                    <td>
                        <% if(system.tagNv && system.tagNv.length> 0) { %>
                            <% system.tagNv.forEach(function(tag, index) { %>
                                <%= tag.name %>
                                    <%= index < system.tagNv.length - 1 ? ', ' : '' %>
                                        <% }); %>
                                            <% } else { %>
                                                Không có tag
                                                <% } %>
                    </td>
                    <td>
                        <%= system.linkAccess %>
                    </td>
                    <td>
                        <%= system.linkInstruct %>
                    </td>
                    <td>
                        <%= system.managingUnit %>
                    </td>
                    <td>
                        <%= system.contactPoint %>
                    </td>
                    <td>
                        <div class="action-buttons">
                            <button class="edit-btn" style="width:auto;" data-systemid="<%= system._id %>"
                                data-name="<%= system.name %>" data-idsystem="<%= system.idSystem %>"
                                data-image="<%= system.image %>" data-description="<%= system.description %>"
                                data-linkaccess="<%= system.linkAccess %>"
                                data-linkinstruct="<%= system.linkInstruct %>"
                                data-managingunit="<%= system.managingUnit %>"
                                data-contactpoint="<%= system.contactPoint %>"
                                data-tagnv="<%= system.tagNv && system.tagNv.length > 0 ? system.tagNv.map(function(tag){ return tag._id; }).join(',') : '' %>"
                                onclick="openEditModal(this)">
                                Edit
                            </button>
                            <button class="delete-btn" style="width:auto;" data-systemid="<%= system._id %>"
                                onclick="deleteSystem(this)">
                                Delete
                            </button>
                        </div>
                    </td>

                </tr>
                <% }); %>
        </table>
        <div class="pagination">
            <% if (searchQuery && searchQuery.trim() !=="" ) { %>

                <% for (var i=1; i <=totalPages; i++) { %>
                    <% if (i===currentPage) { %>
                        <span class="current-page">
                            <%= i %>
                        </span>
                        <% } else { %>
                            <a href="/system/search?name=<%= encodeURIComponent(searchQuery) %>&page=<%= i %>">
                                <%= i %>
                            </a>
                            <% } %>
                                <% } %>

                                    <% } else { %>

                                        <% for (var i=1; i <=totalPages; i++) { %>
                                            <% if (i===currentPage) { %>
                                                <span class="current-page">
                                                    <%= i %>
                                                </span>
                                                <% } else { %>
                                                    <a href="/system?page=<%= i %>">
                                                        <%= i %>
                                                    </a>
                                                    <% } %>
                                                        <% } %>

                                                            <% } %>
        </div>


    </div>




    <!-- Modal Edit Form -->
    <div id="editModal" class="edit-modal">
        <form id="editForm" class="edit-modal-content edit-animate" action="/system/edit" method="post">
            <div>
                <span onclick="document.getElementById('editModal').style.display='none'" class="edit-close"
                    title="Close Modal">&times;</span>
            </div>

            <div class="edit-container">
                <h1 style="margin-top: 10px;">Chỉnh sửa hệ thống</h1>

                <!-- Trường ẩn lưu _id của hệ thống (MongoDB _id) -->
                <input type="hidden" id="_id" name="_id">
                <!-- <input id="_id" name="_id"> -->

                <!-- Tên hệ thống và ID hệ thống trên cùng 1 dòng -->
                <div class="edit-row">
                    <div class="edit-col">
                        <label for="name"><b>Tên hệ thống</b></label>
                        <input type="text" placeholder="Nhập tên hệ thống" name="name" id="name" required>
                    </div>
                    <div class="edit-col">
                        <label for="idSystem"><b>ID hệ thống</b></label>
                        <input type="text" placeholder="Nhập ID hệ thống" name="idSystem" id="idSystem" required>
                    </div>
                </div>

                <label for="image"><b>Link ảnh</b></label>
                <input type="text" placeholder="Nhập link ảnh" name="image" id="image">

                <label for="description"><b>Mô tả</b></label>
                <textarea placeholder="Nhập mô tả" name="description" id="description"></textarea>

                <!-- Trong Modal Edit Form -->
                <div style="margin-right: 30px;" class="tag-row">
                    <label for="editTagNv" class="tag-label">Tag nghiệp vụ</label>

                    <button type="button" class="chosse-tag-create" onclick="openTagModal('edit')">Chọn Tag</button>

                </div><input type="hidden" id="editTagNv" name="tagNv">
                <div id="selectedEditTags"
                    style="margin-top: 5px; margin-bottom: 10px; margin-left: 20px; font-size: 0.9rem; color: #333;">
                </div>

                <div class="edit-row">
                    <div class="edit-col">
                        <label for="linkAccess"><b>Link truy cập</b></label>
                        <input type="text" placeholder="Nhập link truy cập" name="linkAccess" id="linkAccess">
                    </div>
                    <div class="edit-col">
                        <label for="linkInstruct"><b>Tài liệu hướng dẫn</b></label>
                        <input type="text" placeholder="Nhập tài liệu hướng dẫn" name="linkInstruct" id="linkInstruct">
                    </div>
                </div>

                <div class="edit-row">
                    <div class="edit-col">
                        <label for="managingUnit"><b>Đơn vị chủ quản</b></label>
                        <input type="text" placeholder="Nhập đơn vị chủ quản" name="managingUnit" id="managingUnit">
                    </div>
                    <div class="edit-col">
                        <label for="contactPoint"><b>Đầu mối quản trị</b></label>
                        <input type="text" placeholder="Nhập đầu mối quản trị" name="contactPoint" id="contactPoint">
                    </div>
                </div>

                <button class="edit-save-form" type="submit">Lưu thay đổi</button>
                <!-- <button type="button" onclick="document.getElementById('editModal').style.display='none'"
                    class="edit-cancelbtn">Hủy</button> -->
            </div>

        </form>
    </div>

    <!-- Create system form -->
    <div id="createSystemContainer" class="container" style="display: none;">
        <!-- <div class="container"> -->
        <h1>Tạo mới hệ thống</h1>
        <form id="createSystemForm">
            <div class="edit-row">
                <div class="edit-col" style="margin-right: 30px;">
                    <label for="name">Tên hệ thống</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="edit-col" style="margin-right: 30px;">
                    <label for="idSystem">ID hệ thống</label>
                    <input type="text" id="idSystem" name="idSystem" required>
                </div>
            </div>

            <!-- Phần upload ảnh -->
            <div style="margin-right: 30px;">
                <label for="image">Chọn ảnh</label>
                <!-- Input file để chọn ảnh; hiển thị sẵn -->
                <input type="file" id="image" name="image" accept="image/*">
            </div>
            <div style="margin-right: 30px;">
                <label for="description">Mô tả</label>
                <textarea id="description" name="description"></textarea>
            </div>

            <div style="margin-right: 30px;">
                <label for="tagNv">Tag nghiệp vụ</label>
                <!-- Nút mở modal chọn tag -->
                <button class="chosse-tag-create" type="button" onclick="openTagModal()">Chọn Tag</button>
                <!-- Input ẩn để lưu danh sách tag được chọn -->
                <input type="hidden" id="tagNv" name="tagNv">
                <!-- Hiển thị các tag đã chọn (có thể hiển thị tên tag) -->
                <div id="selectedTags"
                    style="margin-top: 5px; margin-bottom: 10px;margin-left: 20px; font-size: 0.9rem; color: #333;">
                </div>
            </div>


            <div class="edit-row">
                <div class="edit-col" style="margin-right: 30px;">
                    <label for="linkAccess">Link truy cập hệ thống</label>
                    <input type="text" id="linkAccess" name="linkAccess">
                </div>
                <div class="edit-col" style="margin-right: 30px;">
                    <label for="linkInstruct">Tài liệu hướng dẫn sử dụng</label>
                    <input type="text" id="linkInstruct" name="linkInstruct">
                </div>
            </div>

            <div class="edit-row">
                <div class="edit-col" style="margin-right: 30px;">
                    <label for="managingUnit">Đơn vị chủ quản</label>
                    <input type="text" id="managingUnit" name="managingUnit">
                </div>
                <div class="edit-col" style="margin-right: 30px;">
                    <label for="contactPoint">Đầu mối quản trị</label>
                    <input type="text" id="contactPoint" name="contactPoint">
                </div>
            </div>

            <input type="submit" value="Tạo hệ thống mới">
        </form>
    </div>

    <!-- Modal chọn Tag -->
    <div id="tagModal" class="edit-modal" style="padding-top: 50px;">
        <div class="edit-modal-content" style="width: 40%;">
            <div style="padding: 10px; border-bottom: 1px solid #ccc; position: relative;">
                <h2 style="margin: 0;">Chọn Tag</h2>
                <span onclick="closeTagModal()" class="edit-close" style="position: absolute; right: 10px; top: 5px;"
                    title="Close Modal">&times;</span>
            </div>
            <div style="padding: 20px; max-height: 300px; overflow-y: auto;">
                <% tags.forEach(function(tag) { %>
                    <div class="tag-item">
                        <label for="tag-<%= tag._id %>">
                            <%= tag.name %>
                        </label>
                        <input type="checkbox" class="tag-checkbox" id="tag-<%= tag._id %>" value="<%= tag._id %>">
                    </div>
                    <% }); %>

            </div>
            <div style="padding: 10px; text-align: right; border-top: 1px solid #ccc;">
                <button type="button" onclick="confirmTagSelection()"
                    style="background-color: #2b7dcf; color: #fff; border: none; padding: 8px 12px; border-radius: 4px;">
                    Xác nhận
                </button>
            </div>
        </div>
    </div>

    <!-- Danh sách tag nghiệp vụ -->
    <div id="listTagContainer" class="container" style="display: none;">
        <h1>Danh sách tag nghiệp vụ</h1>
        <table>
            <tr>
                <th class="center-title-list-system">ID</th>
                <th class="center-title-list-system">Name</th>
                <th class="center-title-list-system">Description</th>
            </tr>
            <% tags.forEach(function(tag) { %>
                <tr>
                    <td>
                        <%= tag._id %>
                    </td>
                    <td>
                        <%= tag.name %>
                    </td>
                    <td>
                        <%= tag.description %>
                    </td>
                </tr>
                <% }); %>
        </table>
    </div>

    <script>
        document.getElementById("createSystemForm").addEventListener("submit", async function (event) {
            event.preventDefault();
            const formData = new FormData(this); // Lấy tất cả các field, bao gồm file

            try {
                const response = await fetch("/system", {
                    method: "POST",
                    body: formData
                    // Lưu ý: không cần thiết lập header "Content-Type" vì trình duyệt sẽ tự động thiết lập multipart/form-data cùng boundary
                });

                if (response.ok) {
                    alert("Tạo hệ thống mới thành công!");
                    this.reset();
                    // Bạn có thể reload trang hoặc điều hướng lại trang /system
                    // location.href = "/system";
                } else {
                    alert("Tạo hệ thống thất bại!!!!");
                }
            } catch (error) {
                console.error("Error:", error);
                alert("An error occurred while creating the system.");
            }
        });


        //Drop btn
        var dropdown = document.getElementsByClassName("dropdown-btn");

        for (let i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;

                if (dropdownContent.style.maxHeight) {
                    dropdownContent.style.maxHeight = null; // Thu gọn
                } else {
                    dropdownContent.style.maxHeight = dropdownContent.scrollHeight + "px"; // Mở rộng
                }
            });
        }


        // Lấy phần tử modal edit form
        var editModal = document.getElementById('editModal');

        // Khi người dùng click ngoài modal thì đóng modal
        window.onclick = function (event) {
            if (event.target == editModal) {
                editModal.style.display = "none";
            }
        }
        //Bật tắt list và create hệ thống
        // Lắng nghe sự kiện click vào "Danh sách hệ thống"
        document.getElementById("showListSystem").addEventListener("click", function (event) {
            event.preventDefault();
            location.href = "#listSystem";
            document.getElementById("listSystemContainer").style.display = "block";
            document.getElementById("createSystemContainer").style.display = "none";
            document.getElementById("listTagContainer").style.display = "none";


        });

        // Lắng nghe sự kiện click vào "Thêm hệ thống"
        document.getElementById("showCreateSystem").addEventListener("click", function (event) {
            event.preventDefault();
            location.href = "#createSystem";
            document.getElementById("listSystemContainer").style.display = "none";
            document.getElementById("createSystemContainer").style.display = "block";
            document.getElementById("listTagContainer").style.display = "none";

        });

        //Lắng nghe showListTag để bật Hiển thị hệ thống
        document.getElementById("showListTag").addEventListener("click", function (event) {
            event.preventDefault();
            location.href = "#listTag";
            document.getElementById("listSystemContainer").style.display = "none";
            document.getElementById("createSystemContainer").style.display = "none";
            document.getElementById("listTagContainer").style.display = "block";
        });

        function openEditModal(button) {
            // Lấy dữ liệu từ thuộc tính data của nút Edit
            var systemId = button.getAttribute("data-systemid");
            var systemName = button.getAttribute("data-name");
            var idSystem = button.getAttribute("data-idsystem");
            var image = button.getAttribute("data-image");
            var description = button.getAttribute("data-description");
            var linkAccess = button.getAttribute("data-linkaccess");
            var linkInstruct = button.getAttribute("data-linkinstruct");
            var managingUnit = button.getAttribute("data-managingunit");
            var contactPoint = button.getAttribute("data-contactpoint");
            var tagNv = button.getAttribute("data-tagnv");

            // Điền dữ liệu vào form
            document.getElementById("_id").value = systemId;
            document.getElementById("name").value = systemName || '';
            document.getElementById("idSystem").value = idSystem || '';
            document.getElementById("image").value = image || '';
            document.getElementById("description").value = description || '';
            document.getElementById("linkAccess").value = linkAccess || '';
            document.getElementById("linkInstruct").value = linkInstruct || '';
            document.getElementById("managingUnit").value = managingUnit || '';
            document.getElementById("contactPoint").value = contactPoint || '';
            document.getElementById("editTagNv").value = tagNv || '';

            // Hiển thị modal
            document.getElementById("editModal").style.display = "block";
        }

        // Xử lý submit của form Edit
        document.getElementById("editForm").addEventListener("submit", async function (event) {
            event.preventDefault();

            const formData = new FormData(this);
            const data = Object.fromEntries(formData);
            const systemId = data._id; // Lấy _id của system
            try {
                const response = await fetch(`/system/${systemId}`, {
                    method: "PUT",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(data)

                });

                if (response.ok) {
                    alert("Cập nhật thành công!");
                    location.reload(); // Reload trang để cập nhật dữ liệu
                } else {
                    alert("Cập nhật thất bại!");
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Có lỗi xảy ra khi cập nhật hệ thống.");
            }
        });
        function deleteSystem(button) {
            // Lấy _id của hệ thống từ thuộc tính data-systemid
            var systemId = button.getAttribute("data-systemid");
            // Hiển thị xác nhận xóa
            if (confirm("Bạn có chắc muốn xóa hệ thống này không?")) {
                fetch(`/system/${systemId}`, {
                    method: "DELETE"
                })
                    .then(response => {
                        if (response.ok) {
                            alert("Hệ thống đã được xóa!");
                            location.reload();
                        } else {
                            alert("Xóa hệ thống thất bại!");
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        alert("Có lỗi xảy ra khi xóa hệ thống.");
                    });
            }
        }

        //upload image
        // Khi bấm nút "Chọn ảnh", kích hoạt input file ẩn
        document.getElementById("selectImageBtn").addEventListener("click", function () {
            document.getElementById("imageInput").click();
        });



    </script>
</body>

</html>